.EditTeamContainer{
width:100%;
}
.EditTeamFormCont{
width:90%;
margin:0 auto;
background:var(--white);
}
.EditTeamFormCont form p label{
color:var(--black);
}

.EditTeamFormCont form p input,
.EditTeamFormCont form p select,
.EditTeamFormCont form p textarea{
width:100%;
padding:.5em;
color:var(--navBgColor);
}
.EditTeamFormCont form p{
display:flex;
flex-direction:column;
padding:.5em;
}
.EditTeamFormCont form div input[type="submit"]{
margin:1em;
width:60%;
padding:.5em;
}
.suggestion-box {
      /*position: absolute;*/
      width:60%;
      max-height: 100px;
      overflow-y: auto;
      background: #fff;
      /*border: 1px solid #ccc;*/
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.suggestion-item {
padding: 8px;
cursor: pointer;
border-bottom: 1px solid #eee;
}
.suggestion-item:hover {
background-color: #f2f2f2;
}
.no-suggestions {
padding: 8px;
}