.DataContainer{
padding-top:5em;
width:100%;
background:var(--white)
}
.DataContainer h1{
color:var(--black);
}
.RegTourneyDetails{
background:#fff;
width:100%;
	& .teamTable{
		width:100%;
	}
}
#createGroupForm{
display:none;
}
#closeCreateGroupBtn{
	position:absolute;
	top:0;
	right:.2em;
}
.management-section{
display:flex;
width:100%;
flex-direction:column;
justify-content:center;
align-items:center;
 & section{
 	width:80%;
 	.createGroupBtn{
 		padding:20px;
			width:100%;
			margin-bottom:5px;
			background:#3cA576;
			border:transparent;
			color:black;
			font-weight:600;
			font-size:1.2rem;
			&:hover{
				background:#3cA590;
			}
 	}
 	 form{
 	 	width:100%;
 	 	position:relative;
 	 	margin:10px 0;
 	 	border:1px solid transparent;
 	 	select,input[type="number"],input[type="text"]{
 	 		width:100%;
 	 		margin:20px 0;
 	 		height:40px;
 	 		display:block;
 	 		padding:10px;
 	 	}
 	 	input[type="submit"]{
			padding:10px;
			border-radius:8px;
			width:100%;
			background:#3cA576;
			border:transparent;
			color:black;
			font-weight:600;
			font-size:1.2rem;
			&:hover{
				background:#3cA590;
				}
 	 	}
		}
 	& div{
 		display:flex;
		gap:5px;
		& a{
			display: contents;
		}
 		 .button{
	        padding:20px;
			flex:1;
			margin-bottom:5px;
			background:#616161;
			border:transparent;
			color:black;
			font-weight:600;
			font-size:1.2rem;
			&:hover{
				background:#3cA590;
				}
 		}
 	}
 }
}