{% extends "base.html" %}
{% block cssPath %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/tournamentDetails.css' %}"/>
{% endblock %}
{% block title %} UserProfile {% endblock %}
{% block body %}
<main class="tournamentDetailsContainer">
<div class="mainImg">
	<img src="{% static 'images/MainBg.jpg' %}">
</div>
<section class="detailsSection">
	<h2>{{ tournament.name }} | organisedBy : <span>{{ tournament.organiser }}</span></h2>
	<h3>PRICEPOOL : {{ tournament.pricePool }}</h3>
	<p>TOTAL SLOTS : {{ tournament.slots }} | Paid : {{ tournament.is_paid }}</p>
	<p> PRICE (per slot): {{ tournament.priceOfSlot }}
	<p>REGISTRATIONS STARTS FROM : {{ tournament.registrations_starts_from }}</p>
	<p>REGISTRATIONS ENDS ON : {{ tournament.registrations_ends_on }}</p>
</section>
<section id="SelectTeamPopUp">
	<h2>SELECT YOUR TEAM</h2>
	<div id="closeRegTeamBtn" > 
			&#10060;
	</div>
	<form id="regForm" action="" method="post">
	{% csrf_token %}
	{% if user.teamCreator.all.count != 0 %}
		{% for team in user.teamCreator.all %}
		<div>
			<input type="text" hidden value="{{ team.id }}" name="teamId">
			<label for="teamSelected">{{ team.teamname }} | {{ team.game }}</label>
			<input type="radio" value="{{ team.teamname }}" name="teamSelected"><br>		
		</div>
		{% endfor %}
	{% else %}
		<div>
			<label>You have no Team created.</label>
		</div>
	{% endif %}
	<h2> or </h2>
	<a href="{% url 'UserProfile' %}"><p>CREATE TEAM</p></a>
	<input id="submitRegData" type="submit" value="submit">
	</form>
</section>
<div class="registerBtn">
	<button id="registerBtn">Register</button>
</div>
<section class="descriptionDetails">
<div>
<h2>ABOUT TOURNAMENT</h2>
<p> {{tournament.description}}</p>
</div>
<div>
</div>
</section>
</main>
{% endblock %}
{% block script %}
<script>
function showSelectTeam() {
	let element = document.getElementById("SelectTeamPopUp");
	element.style.display = "block";
	};
function hideSelectTeam() {
	document.getElementById("regForm").reset();
	let element = document.getElementById("SelectTeamPopUp");
	element.style.display = "none";
	};
let registerBTN = document.getElementById("registerBtn")
registerBTN.addEventListener("click", showSelectTeam);
let SubBtn = document.getElementById("submitRegData")
SubBtn.addEventListener("click",hideSelectTeam);
let closeFormBtn = document.getElementById("closeRegTeamBtn")
closeFormBtn.addEventListener("click",hideSelectTeam);
</script>
{% endblock %}
