{% extends "base.html" %}
{% block cssPath %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/Tournaments.css' %}"/>
{% endblock %}
{% block title %} managementArea {% endblock %}
{% block body %}
<div class="TournamentBaseContainer" >
{% for game in games %}
<h2 style="color:#fff;text-transform:uppercase;">{{ game }} TOURNAMENTS</h2>
<section class="gameSection">
	{% for tournament in tournaments %}
		{% if tournament.game == game %}		
			  <div class="gameBox">
				<div class="gameBoxImgCont">
				  <img src="{% static 'images/Main.webp' %}" alt="Avatar" style="width:100%;">
				 </div>
				  <div class="gameBoxDetails">
				    <h4><b>{{ tournament.name }}</b></h4>
				    <p>Total Slots :{{ tournament.slots }}</p>
				    <p>PricePool : {{ tournament.pricePool }}</p>
				    <p>Paid: {{ tournament.is_paid }}</p>
				    <a href="{% url 'UserViewTournament' tournament.id %}"><Button>View</Button></a>
				  </div>
			  </div>
		{% endif %}
	{% endfor %}
</section>
{% endfor %}
</div>
{% endblock %}